body {
    overflow: 'hidden'
}

.editSidebar{
    width: 200px;
    height: 97%;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.editUnordertLists{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px black;
}

.editButton{
    outline: none;
    height: 45px;
    width:100%;
    background-color: #0275d8;
    padding: '4px';
    color: white;
    cursor: pointer;
}

.HoverButton {
    padding: 5%;
    align-items: center;
}
.HoverButton:hover {
    background: #CCC;
}